{% extends 'base.html' %}
{% block title %}Home Appliences{% endblock title %}
{% block body %}
<div class="card mb-3 px-2 py-2" style="max-width: 540px max-height:250px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/deco1.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">NIYAMAX 12 Stars 138 LED Star Curtain String Lights 6+6 , Window Curtain Decoration Lights with 8 Flashing Modes Remote for Indoor Outdoor Decoration in... Color Name:12 Star Curtains String Lights (Warm White)</h5>
        <h5> Price : 599 rs </h5>
        <p class="card-text">Features <p>•  Light Source Type	LED</p> • Colour	12 Star Curtains String Lights (Warm White)</p> •Special Feature	Corded Brand	NIYAMAX <p> </P>
        <p><a class='btn btn-primary' href='/thank_you'>Order Now</a></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 px-2 py-2" style="max-width: 540px max-height:250px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/deco2.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Wevdot Plastic Lamp, Multicolour, 1 pc)</h5>
        <h5> Price:	₹ 686.00 </h5>
        <p class="card-text">Features <p>• Power Source	Corded Electric, Battery Powered
          <p>• Brand	Wevdot
          <p>• Switch Type	Push Button
          <p>• Shade Material	Acrylonitrile Butadiene Styrene Material	Plastic.</p>
        <p><a class='btn btn-primary' href='/thank_you'>Order Now</a></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 px-2 py-2" style="max-width: 540px max-height:250px;">
  <div class="row g-0" >
    <div class="col-md-4" >
      <img src="/static/deco3.jpg" class="img-fluid rounded-start" style="max-width: 540px max-height:250px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">USRSTORE  LED Curtain String Lights with 10 Heart and 138 Pieces and 8 Modes Lights for Home Decoration,Diwali,Christmas,Wedding,Birthday - (Warm White)</h5>
        <h5> Price:	₹ 535.80 </h5>
        <p class="card-text">Features <p>• Brand	USRSTORE</p>• Power and Plug 	Corded Electric</p><p>• Material	Plastic</p>
        <p><a class='btn btn-primary' href='/thank_you'>Order Now</a></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 px-2 py-2" style="max-width: 540px max-height:250px;">
  <div class="row g-0" >
    <div class="col-md-4" >
      <img src="/static/deco4.jpg" class="img-fluid rounded-start" style="max-width: 540px max-height:250px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">GLOBLUX 12 Meter Waterproof, Copper Wire LED Decorative String Fairy Rice Lights for Home Decoration Indoor and Outdoor Decoration Lights, Festival, Party</h5>
        <h5> Price:	₹ 600.80 </h5>
        <p class="card-text">Features <p>• Brand	Generic</p>• Power and Plug 	Corded Electric</p><p>• Voltage	110 Volts</p>
        <p><a class='btn btn-primary' href='/thank_you'>Order Now</a></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 px-2 py-2" style="max-width: 540px max-height:250px;">
  <div class="row g-0" >
    <div class="col-md-4" >
      <img src="/static/deco5.jpg" class="img-fluid rounded-start" style="max-width: 540px max-height:250px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">ITMumbai 20LED Crystal Drop Shape Fairy String Lights for Home Lighting Decoration (4 Meter Long Warm White) 2 Pin Plug</h5>
        <h5> Price:	₹ 535.80 </h5>
        <p class="card-text">Features <p>• Brand		Itmumbai</p>• Power and Plug 	Corded Electric</p><p>• Material	Crystal</p>
        <p><a class='btn btn-primary' href='/thank_you'>Order Now</a></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 px-2 py-2" style="max-width: 540px max-height:250px;">
  <div class="row g-0" >
    <div class="col-md-4" >
      <img src="/static/deco6.jpg" class="img-fluid rounded-start" style="max-width: 540px max-height:250px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Ts With Techsun 3D Moon Lamp, Led 16 Colors Moon Night Light Lamp, Color Change, USB Recharge, 15 cm Diameter, White,Pack of 1</h5>
        <h5> Price:	₹ 800.00 </h5>
        <p class="card-text">Features <p>• Brand	TS WITH TECHSUN</p>• Remote, Touch Battery-powered, Plug-in_electric</p><p>• Material	Polyvinyl Chloride</p>
        <p><a class='btn btn-primary' href='/thank_you'>Order Now</a></p>
      </div>
    </div>
  </div>
</div>





{% endblock body %}