{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class ="container ">

<div class="col-lg-6 mx-5 my-5" >
        <img src="/static/decorative.jpg" width="90%" height="225">
        <h2>LG Decorative light</h2>
</div>
<div class ="container mx-2 my-2 ">
        <h6 class='text-center'>LG Decorative light    Price=3,000 rs</h6>
        
        <h5 style="background-color:tomato">Available offers</h5>

<P>Bank Offer10% off on HDFC Bank Credit Card transactions, up to ₹1250. On Orders of ₹5000T&C</p>

<p>Bank OfferGet additional Rs1000 off on Debit and Credit cardT&C</p>

<p>Bank Offer10% off on HDFC Bank Credit Card EMI transactions, up to ₹1500. On Orders of ₹5000T&C</p>

<p>Get Google Nest mini at just ₹1999 on purchase of select Smartphones, TVs, Laptops, TV streamingT&C.</p>
        <p><a class="btn btn-primary" href="/thank_you">Order Now »</a></h6>
      </div>

{% endblock body %}