{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="card mb-3 px-2 py-2" style="max-width: 540px max-height:250px;">
  <div class="row g-0" >
    <div class="col-md-4" >
      <img src="/static/home_a4.jpg" class="img-fluid rounded-start" style="max-width: 540px max-height:250px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">AMERICAN MICRONIC INSTRUMENTS - Imported Electric Pressure Cooker 5 Litre Inner Container with 12 one Touch Cooking menus</h5>
        <h5> Price:₹ 6,880.00 </h5>
        <p class="card-text">Features <p>•Brand	AMERICAN MICRONIC INSTRUMENTS </p>• Material	Non Stick Coated</p> <p>• Capacity	5 litres </p>
        <p><a class='btn btn-primary' href='/thank_you'>Order Now</a></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 px-2 py-2" style="max-width: 540px max-height:250px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/ac.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Samsung 1.5 Ton 3 Star Inverter Split AC (Copper, Convertible 5 in 1, HD Filter, 2021 Model, Floral pattern, AR18AYLYATBNNA)</h5>
        <h5> Price:	₹ 32,990.00 </h5>
        <p class="card-text">Features <p>• Power Source	Corded Electric
          <p>• Brand	Samsung
          <p>• Model Name	AR18AYLYATBNNA
          <p>• Special Feature	High Density Filter, Remote Control, Turbo Cooling, Auto Clean, Dehumidifier, Inverter Compressor
          <p>• Colour	White.</p>
        <p><a class='btn btn-primary' href='/thank_you'>Order Now</a></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 px-2 py-2" style="max-width: 540px max-height:250px;">
  <div class="row g-0" >
    <div class="col-md-4" >
      <img src="/static/camera.jpg" class="img-fluid rounded-start" style="max-width: 540px max-height:250px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Canon EOS 200D II 24.1MP Digital SLR Camera + EF-S 18-55mm f4 is STM Lens (Black)</h5>
        <h5> Price:	₹ 51,490.00 </h5>
        <p class="card-text">Features <p>• DIGIC 8 PROCESSOR APS-C Approx 24.1 mp CMOS Sensor</p>• 9-point AF during optica viewfinder shooting Dual Pixel CMOS AF</p>
        <p><a class='btn btn-primary' href='/thank_you'>Order Now</a></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 px-2 py-2" style="max-width: 540px max-height:250px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/trim.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Nova NHT 1045 Rechargeable Cordless Beard Trimmer for Men - Black, 1 pc</h5>
        <h5> Price : 399 rs </h5>
        <p class="card-text">Features <p>• Skin-friendly rounded tips for smooth trimming</p> • Ergonomic design.</p>
        <p><a class='btn btn-primary' href='/thank_you'>Order Now</a></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 px-2 py-2" style="max-width: 540px max-height:250px;">
  <div class="row g-0" >
    <div class="col-md-4" >
      <img src="/static/home_a5.jpg" class="img-fluid rounded-start" style="max-width: 540px max-height:250px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Aquaguard Ivory RO + AUTO UV Water Purifier With Patented Active Copper & Mineral Guard Technology (White)</h5>
        <h5> Price:₹ 14,999.00 </h5>
        <p class="card-text">Features <p>• Brand	Eureka Forbes </p>• Model Name	Ivory RO+ Auto UV</p> <p>• Capacity	7 litres </p>
        <p><a class='btn btn-primary' href='/thank_you'>Order Now</a></p>
      </div>
    </div>
  </div>
</div>


{% endblock body %}